# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables File
# NEVER commit your secret keys!
.env

# IDE and OS specific files
.idea/
.vscode/
*.DS_Store